<?php
/**
 * Created by PhpStorm.
 * User: noname
 * Date: 25.10.18
 * Time: 12:46
 */

$components = require __DIR__ . '/components.php';

return [
    'default' => [
        'dir' => '{%dir%}',
        'project' => '{%project%}'
    ],
    'maxLineSize' => 58,
    'components' => $components,
];