---
start:
  field: "docker start"
  isDocker: "yes"
  script: "sudo service nginx stop && sudo service mysql stop && bash ./deploy.sh start"
stop:
  fields: "docker stop"
  isDocker: "yes"
  scrfipt: "bash ./deploy.sh stop && sudo service nginx start && sudo service mysql start"
clear_memcache:
  field: "clear memcache"
  isDocker: "yes"
  script: "tmp=$(bash ./deploy.sh getip memcached_1) && echo 'flush_all'| netcat -q 1 $tmp 11211"
clear_cache:
  field: "clear cache"
  isDocker: "yes"
  script: "sudo rm -rf ./var/cache/* && touch ./var/cache/.gitkeep"
exec:
  field: "docker exec"
  isDocker: "yes"
  script: "bash ./deploy.sh {%command%}"
  options:
    command: ""
...